   /* CSS Global  */

   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
   }

   html{
    scroll-padding-top: 200px;
    scroll-behavior: smooth;
   }

   body {
       font-family: Arial, Helvetica, sans-serif;
       line-height: 1.6;
       background-image: url(../images/steam2.jpg);
       background-repeat: no-repeat;
       background-size: cover;
       background-attachment: fixed;
       background-position: center;
   }

   .container {
       max-width: 1200px;
       margin: 200px auto 20px;
   }

   /* Card base */
   .card {
       background-color: #f6f6f6;
       padding: 25px 25px;
       border-radius: 15px;
       box-shadow: 0 4px 12px #004248;
       margin-bottom: 35px;
       border-top: 6px solid #0094bd;
   }

   .card.module-2 {
       border-top: 5px solid chartreuse
   }

   .card.module-3 {
       border-top: 5px solid rgb(49, 9, 34)
   }

   .card.module-4 {
       border-top: 5px solid rgb(161, 135, 246)
   }

   .card.module-5 {
       border-top: 5px solid rgb(255, 106, 0)
   }

   .card.module-6 {
       border-top: 5px solid rgb(59, 16, 63)
   }

   .card.module-7 {
       border-top: 5px solid rgb(255, 196, 153)
   }

   pre {
       background-color: #c3c3c3;
       border-radius: 10px;
       border-left: red 5px solid;
       padding: 10px;
       margin: 15px;
   }

   .note {
       border-left: 4px solid gray;
       color: #434042;
       padding-left: 10px;
       margin-top: 15px;
   }

   .note::before {
       content: "📓";
   }


   code {
       background-color: rgb(214, 214, 214);
       border-radius: 3px;
       padding: 2px 4px;
   }

   .badge {
       color: rgb(255, 255, 255);
       border-radius: 16px;
       background-color: #0094bd;
       padding: 10px;
       font-size: 0.8rem;
       vertical-align: middle;
       margin-left: 15px;
   }


   /* Images (global safe defaults) */


   /* CSS For Group 1: Header  */
   header {
       background-color: rgb(255, 255, 255);
       display: flex;
       align-items: center;
       flex-direction: column;
       padding: 20px;
       box-shadow: 3px 3px 3px rgb(0, 0, 0);

       /* fixed header */
       position: fixed;
       top: 0;
       width: 100%;
   }

   h1 {
       color: brown;
   }

   .list-menu ul {
       display: flex;
       list-style: none;
       justify-content: center;
       gap: 20px;

       padding: 0;
       margin: 0;

   }

   .list-menu li {
       margin-top: 30px;
       transition: transform 0.5s ease;
   }

   .list-menu li:hover {
       transform: translatey(-3px)
   }

   .list-menu a {
       text-decoration: none;
       color: aliceblue;
       font-weight: bold;
       background: linear-gradient(40deg, rgb(87, 9, 9), rgb(174, 43, 43), rgb(216, 139, 139));
       box-shadow: 3.5px 3.5px rgb(59, 1, 1);
       padding: 8px 12px;
       border-radius: 7px;

   }

   .list-menu a:hover {
       background: rgb(126, 0, 0);
   }

   /* CSS For Group 2: Card 1: Basics  */
   .position {
       display: flex;
       align-items: center;
       border: 3px dashed black;
       margin: 10px;
   }

   .position.left {
       justify-content: start;
   }

   .position.center {
       justify-content: center;
   }

   .position.right {
       justify-content: flex-end;
   }

   .img_small {
       width: 150px;
       height: 150px;
   }


   /* CSS For Group 3: Card 2: Resize & aspect  */
   .img-fixed {
       width: 260px;
       height: 160px;
       object-fit: cover;
       border: 3px solid black;
       border-radius: 5px;
   }

   /* CSS For Group 4: Card 3: Object fit  */
   .img-size {
       height: 300px;
       width: 500px;
       object-fit: cover;
   }

   .obj-fit-image {
       width: 800px;
       height: 200px;
       border: 1px solid black;
   }

   .obj-fit-image.contain {
       object-fit: contain;
   }

   .obj-fit-image.fill {
       object-fit: fill;
   }

   .obj-fit-image.cover {
       object-fit: cover;
   }


   /* CSS For Group 5: Card 4: Image as Link  */

   /* CSS For Group 6: Card 5: Gallery  */
   .gallery {
       display: block;
       grid-template-columns: repeat(3, 1fr);
       gap: 12px;
   }

   .gallery img {
       height: 120px;
       width: auto;
       object-fit: cover;
   }


   /* CSS For Group 7: Card 6: Responsive  */
   img {
       max-width: 100%;
       height: auto;
   }


   /* CSS For Group 8: Card 7: Figure & Caption + Task  */
   figure{
    margin: 20px 0;
    text-align: center;
   }

   /* CSS For Group 9: Card 8: Local file tips  */
   .bg-img{
    background-image: url("../images/gen5.jpg");
   }


   /* CSS For Group 10: Back to Tutorial */
   .back-link{
            /*display: inline-block;*/
            display: block;
            margin-top: 15px;
            text-decoration: none;
            font-weight: bold;
            color: #ffffff;
            background-color: #970000;
            text-align: center;
            border-radius: 10px;
            padding: 15px 12px;
        }
        .back-link:hover {
            background-color: #ff0505;
            color: rgb(255, 255, 255);
        }